.git
.gitignore
.dockerignore
Dockerfile

.env
.env.*

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.pyre/
.coverage
htmlcov/

.venv/
venv/
env/
pyenv/
pyenv_old/
VirtualEnv/
.VirtualEnv/

.vscode/
.idea/

build/
dist/
*.egg-info/

*.log
db.sqlite3
